<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 d-flex justify-content-start align-items-center text-center">
                                    <img src="/contents/img/MiMiAiChaiKa_Logo.png" alt="Logo" class="logo">
                                </div>
                                <div class="col-md-6 p-md-5 p-4">
                                    <h3 class="card-title mb-4">Sign In</h3>
                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                        <div class="mb-4">
                                            <label for="username" class="form-label">USERNAME</label>
                                            <input type="text" id="username" formControlName="username"
                                                class="form-control" placeholder="Username">
                                            <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)"
                                                class="text-danger">
                                                Username is required
                                            </div>
                                        </div>
                                        <div class="mb-4 position-relative">
                                            <label for="password" class="form-label">PASSWORD</label>
                                            <div class="input-group">
                                                <input [type]="showPassword ? 'text' : 'password'" id="password"
                                                    formControlName="password" class="form-control"
                                                    placeholder="Password">

                                                <button type="button"
                                                    class="btn position-absolute end-0 border-0 text-secondary"
                                                    style="top: 50%; transform: translateY(-50%);z-index: 99;"
                                                    (click)="togglePasswordVisibility()">
                                                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility'
                                                        }}</mat-icon>
                                                </button>
                                            </div>
                                            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                                                class="text-danger">
                                                Password is required
                                            </div>
                                        </div>
                                        <div class="d-grid gap-2">
                                            <button type="submit" class="btn btn-warning btn-block"
                                                [disabled]="loginForm.invalid">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <mat-card>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" class="custom-input" required>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" required>
            </mat-form-field>
      
            <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
        </mat-card-content>
      </mat-card> -->